<div class="container">
  <form>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="form-group">
          <label for="project">Project</label>
          <select class="form-control" id="project" required>
            <option *ngFor="let proj of projects" [value]="proj">{{proj}}</option>
          </select>
        </div>
      </div>
      <div id="test"></div>
      <div class="panel-body">
        <div class="panel panel-success">
          <div class="panel-heading">Start</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="startWorkDate">Datum</label>
              <input type="date" class="form-control" [(ngModel)]="model.start" name="date" id="startWorkDate" required>
            </div>
            <div class="form-group">
              <label for="startTime">Start</label>
              <input type="time" class="form-control" id="startTime" [attr.value]="time24.toString()" required>
            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">Ende</div>
          <div class="panel-body">
            <div class="form-group">
              <label for="endWorkDate">Datum</label>
              <input type="date" class="form-control" [(ngModel)]="model.start" name="date" id="endWorkDate" required>
            </div>
            <div class="form-group">
              <label for="endTime">Ende</label>
              <input type="time" class="form-control" id="endTime">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="breakTime">Pause</label>
          <input type="time" class="form-control" id="breakTime">
        </div>
        <div class="form-group">
          <label for="activities">Tätigkeit</label>
          <input type="text" class="form-control" [(ngModel)]="model.work" name="activ" id="activities" value="Surfen"
                 required>
          {{model.work | cleanPipe:'boo,damn,hell'}}
        </div>
        <button type="submit" class="btn btn-success" (click)="clkBtn()" #btn >Submit</button>
      </div>
    </div>
  </form>
</div>

